<% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@pet.errors.count, "error") %> prohibited
        this article from being saved:
    </h2>
    <ul>
      <% @pet.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>  
      <% end %>
    </ul>
<% end %>

<%= form_with model: @pet, local: true do |form| %>
  <p>
    <%= form.label :age %><br>
    <%= form.text_field :age %><br>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %><br>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </p>
  <p>    
    <%= form.submit %>
  </p>
<% end %>